/*Global*/
body {
    width: fit-content;
}

p, h1, h2, h3, h4, h5, a, label, b, input, button {
    font-family: Helvetica, serif;
}

h4 {
    color: #6e8b3d;
}

@media screen and (max-width:1083px) {
    .kontakt-leer {
        height: 3.4em !important;
    }
}

@media screen and (max-width:992px) {
    .row {
        margin: 0 1em;
    }

    .footer-custom {
        margin: 0;
    }

    .second-box {
        margin: 0;
    }

    .footer-custom .row{
        text-align: center;
    }
    .kontakt-leer {
        height: 10px !important;
    }

    .datenschutz-seite {
        padding: 0 2em !important;
    }

    .impressum-seite {
        padding: 0 2em !important;
    }

    .second-box-left {
        padding: 0 0 2em !important;
    }

    .second-box-right {
        padding: 3em 0 0 0 !important;
    }

    .third-box-left {
        height: 27em !important;
        margin-bottom: 3em !important;
    }

    .third-box-right {
        height: 27em !important;
    }

    .filter-box {
        padding-left: 0 !important;
    }

    .sortierung-box {
        padding-left: 0 !important;
    }

    .icons {
        visibility: hidden;
    }

    .logo-design {
        margin: .5em 0 1em .2em !important;
    }
}

/*Header*/
.nav-link{
    Color: #6e8b3d;
}

.fw-bold{
    color: darkgreen;
    padding-bottom: 4px;
}
.icons {
    float: right;
}
.icons img{
    padding: 2px 4px 3px 4px;
    float: right;
}
.searchBar {
    background-color: lightgray;
    width: 90px;
    height: 20px;
    float: right;
}
.search {
    float: right;
}

.col-md-8{
    display: flex;
    justify-content: center;
}
.nav-link {
    font-size: 22px;
    margin: 0 10px;
    padding-top: 12px;
}
.logo-design {
    margin: 0 25px;
    font-size: 25px;
    font-weight: bolder;
    line-height: 0;
    padding: 0;
    color: #556b2f;
}
.navbar-nav img {
    padding-bottom: 15px;
}

.navbar-toggler {
    margin-left: 1em;
}

.white {
    background-color: white !important;
    margin: 1.5em 0;
    max-width: inherit !important;
}

.white a {
    width: max-content;
}

/*Body-Startseite*/
.slider-schrift {
    text-align: left;
    padding-bottom: 5em;
}

.button-weiß {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    color: white;
}

.button-weiß  a {
    color: white;
    text-decoration: none;
}

.first-box img {
    width: 5em;
    height: 5em;
}

.first-box {
    margin-top: 5em;
    padding: 0 7em;
}

.first-box p{
    font-size: small;
    color: gray;
}

.first-box div {
    padding: 0 2em;
    margin-bottom: 3em;
}

.second-box {
    margin-top: 2em;
    padding: 3em 0 2em;
    background-color: rgba(255,228,196, 0.3);
}

.second-box img {
    height: 20em;
    width: 20em;
}

.second-box h4 {
    color: indianred;
}

.second-box p {
    font-size: smaller;
    color: gray;
}

.second-box-left {
    padding: 4em 0 0 10em;
}

.second-box-right {
    padding: 7em 10em 0 0 ;
}

.second-box .anmelden {
    background-color: indianred;
    margin-top: 2em;
}

.third-box {
    margin: 3em 0;
}

.third-box img {
    height: 27em;
    width: 25em;
}

.text {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    bottom: 0;
    padding: 1em 1.5em;
    color: white;
    text-align: left;
}

.third-box-left {
    position: relative;
    width: auto;
    padding: 0 !important;
}

.third-box-right {
    position: relative;
    width: auto;
    padding: 0 !important;
}

.third-box .text-center button {
    margin-top: 3em;
}

/*Body-Produkte*/

.first-picture {
    position: relative;
    width: auto;
}

.first-picture img {
    height: auto;
    width: 100%;
}

.first-picture div {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3em 4em;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

.filter-box {
    margin: 4em 0;
    padding-bottom: 3em;
    padding-left: 2.5em;
}

.produkt-title h3{
    text-align: left !important;
    color: #6e8b3d;
    padding-bottom: 5px;
}

.produkt-title {
    padding: 0;
}

.button-filter {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    text-align: left !important;
    width: 12.5em;
    font-size: 13px;
    height: 3.5em;
}

.button-filter::after {
    float: right;
    margin-top: 10px;
}

.button-filter:hover {
    background-color: #F7F7F7;
    color: black;
    border: 1px solid black;
}

.button-filter:active {
    background-color: #F7F7F7 !important;
    color: black !important;
    border: 1px solid black !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active { /*Über Untersuchen aus Bootstrap rauskopiert, damit Button nicht mehr Rot*/
    background-color: #F7F7F7 !important;
    color: black !important;
    border: 1px solid black !important;
}

.filter-box ul {
    border-radius: 0;
    border: none;
    background-color: #F7F7F7;
}

.filter-box li {
    border-bottom: 1px solid gray;
    padding-left: 5px;
}

.last-list {
    border: none !important;
}

.filter-box label {
    font-size: 13px;
    padding-bottom: 3px;
}

.filter-box input {
    accent-color: indianred;
    float: right;
    margin: 8px 8px 0 0;
}

.sortierung-box {
    margin: 4em 0;
    padding-left: 2.5em;
}

.sortierung {
    border: 1px solid black;
    border-left: none;
    width: 12.5em;
    font-size: 13px;
    height: 3.5em;
    padding: 14px 7px;
    margin: 0;
}

.sortierung-erster {
    border-left: 1px solid black;
}

.sortierung input:checked{
    background-color: indianred;
    border-color: red;
}

.sortierung input {
    float: right !important;
    margin-right: 3px;
}

.sortierung label {
    float: left !important;
}

.produkte-box {
    margin: 3em 0;
}

.produkte-box img {
    height: 19em;
    width: 19em;
}

.produkt-produkt-box {
    width: 19em;
}

.produkt-text-box {
    float: left;
}

.produkt-icon-box {
    float: right;
}

.produkte-box .titel {
    color: darkgreen;
    font-size: 15px;
    padding-top: 1em;
    margin: 0;
}

.produkte-box .marke {
    color: gray;
    font-size: 12px;
    margin: 0;
    width: auto;
}

.produkte-box .wagen {
    height: 1.5em;
    width: 1.5em;
    float: right;
    margin-top: 1.5em;
}

.produkte-box .herz {
    height: 1.5em;
    width: 1.5em;
    float: right;
    margin: 1.6em 1em 0 0;
}

.produkte-box .produkte {
    margin-bottom: 2em;
}


/*Body-Kontakt*/

.rechts-konto div{
    margin: 10px 0;
}

form label {
    font-size: small;
}

form input, select {
    border: none;
    border-bottom: 1px solid;
    background-color: #F7F7F7;
    width: 25em;
}

form .straße input, form .hausnummer input{
    width: 12em;
}

form .straße {
    float: left;
    padding-right: 1em;
    margin: 0;
}

form .hausnummer {
    float: left;
    margin: 0;
}

form label::after{
    content: "*";
}

form .not-Required::after{
    content: none;
}

.icon-kontakt {
    background-color: #F7F7F7;
    width: 25em;
    padding: 1em 1em 0.5em;
    margin: 10px 0 30px;
}

.icon-kontakt img{
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
}

.icon-kontakt p{
    display: inline-block;
    margin-bottom: 10px;
}

.rechnung {
    width: 25em;
    margin-bottom: 20px;
}

.rechnung tr {
    border-bottom: 1px solid lightgray;
}

.first-tr {
    border-top: 1px solid lightgray;
}

.rechnung td {
    padding: 7px 10px;
}

#datenschutz {
    accent-color: indianred;
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px;
}

.datenschutz {
    display: inline-block;
    width: 25em;
    font-size: small;
    margin-bottom: 15px;
}

.jetzt-kaufen {
    margin-left: 7px;
}

.kontakt-leer {
    height: 1.5em;
}

.kontakt-title b{
    color: #6e8b3d;
    font-size: 1.4em;
    font-weight: normal;
}

.kontakt-title {
    margin-bottom: 10px;
}

.login {
    padding: 50px 0;
}

.konto {
    padding-bottom: 50px;
}

.login input{
    border: none;
    background-color: #F7F7F7;
    margin: 5px 0;
    font-size: small;
    width: 30em;
    height: 2em;
    padding: 10px;
}

.links-konto div{
    margin: 10px 0;
}

/*Datenschutz*/

.datenschutz-seite h3{
    color: #6e8b3d;
}

.datenschutz-seite {
    margin: 50px 0;
    padding: 0 4em;
}

/*Impressum*/

.impressum-seite h2{
    color: #6e8b3d;
}

.impressum-seite {
    margin: 50px 0;
    padding: 0 4em;
}

/*Footer*/

.d-flex {
    justify-content: center;
    margin-top: 100px;
}

.anmelden {
    background-color: RGBA(110,139,61,0.7);
    border: none;
    padding: 5px 10px;
    margin-top: 0.5em;
    width: fit-content;
    color: white;
}

.anmelden a {
    text-decoration: none;
    color: white;
}
.text-reset {
    text-decoration: none;
}

.footer-custom {
    background-color: #F2F2F2 !important;
    padding-top: 1px;
    border-top: #6e8b3d 4px solid;
}

.footer-custom p{
    margin-bottom: 0;
    color: black;
}

.footer-custom h6{
    margin-bottom: 0;
    color: #6e8b3d;
}

.logo-div {
    width: fit-content;
}

footer .logo-design {
    width: fit-content;
    margin-left: 1.3em;
    height: 62px;
}

.logo-design img {
    padding-bottom: 15px;
}

.text-footer{
    padding: 15px;
}

.first-icon {
    padding-left: 1.5em;
}

.footer-first-element {
    padding-top: 3em;
}